<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

	RewriteEngine On
	RewriteBase /framework/public/

    # Redirect trailing slashes
    RewriteRule ^(.*)/$ $1 [R=301,L]

    # Allow any files or directories that exist to be displayed directly
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

	# Pass everything to the Front Controller
	RewriteRule ^(.*)$ index.php?$1 [QSA,L]

</IfModule>