<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

	RewriteEngine On
	RewriteBase /

    # Allow access to any files or directories
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

	# Pass everything to the Front Controller
	RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>